{% extends "jea/base.html" %}

{% block content %}
<main class="app content-center">

  <div class="container-center">
    <div class="dialog">
      <main>
        <h1>Allow <em>{{app_account.name}}</em> to access your resources</h1>
        <p class="hint">
          This includes personal data and all IX-API
          managed network services and configuration.
        </p>
        <p class="hint">
          You are authenticated as <b>{{user.account.name}}</b>
          and can grant access.
        </p>
      </main>
      <div class="actions">
        <form method="post">
        {% csrf_token %}
        <input type="submit" name="accept" value="Grant Access" class="btn btn-primary" />
        <input type="submit" value="Decline Request" class="btn btn-cancel" />
        </form>
      </div>
    </div>
  </div>

</main>

{% endblock %}

