{% extends "jea/base.html" %}

{% block content %}
<main class="app content-center">

  <div class="container-center">
    <div class="dialog">
      <main>
        {% if error == "unsupported_response_type" %}
        <h1 style="color: red">Implicit flow is not allowed.</h1>
        <p class="hint">The implicit grant is not supported.</p>
        {% endif %}

        {% if error == "access_denied" %}
        <h1 style="color: red">Authorization Denied</h1>
        <p class="hint">Access was not authorized by user.</p>
        {% endif %}
  
        {% if code %}
        <h1>Authorization Granted</h1>
        <p class="hint">The auth code can be used to acquire an
        access token.</p>
        {% endif %}
      </main>
    </div>
  </div>

</main>

{% endblock %}

