{% extends "jea/base.html" %}

{% block content %}
<main class="app content-center">

  <div class="container-center">
    <div class="dialog">
      <main>
        <h3>Unable to authorize request.</h3>
        <p class="error">
          {{error}}
        </p>
      </main>
    </div>
  </div>

</main>

{% endblock %}

