{% load static %}<!DOCTYPE html>
<html>
  <head>
    <title>IX-API</title>
    <link rel="stylesheet" type="text/css" href="{% static "jea/assets/css/main.css" %}" />
  </head>
  <body>
    {% block content %}{% endblock %}
  </body>
</html>
