<!DOCTYPE html>
<html>
    <header>
      <title>Letter Of Authorization</title>
    </header>
    <body>
      <h1>Letter Of Authorization</h1>

      <table>
        <tr>
          <th>Port</th>
          <th>Connecting Party</th>
        </tr>
        {% for res in port_reservations %}
        <tr>
          <td>{{res.exchange_side_demarc}}</td>
          <td>{{res.connecting_party}}</td>
        </tr>
        {% endfor %}
      </table>
    </body>
</html>

