{% extends "jea/base.html" %}
{% load static %}

{% block content %}
<main class="app">
  <div class="header">
    <div class="logo">
      <img src="{% static 'jea/assets/img/ix-api.svg' %}"
           alt="IX-API logo"
           title="The logo of the IXP API project" />
    </div>
  </div>

  <div class="container">
    <div class="app-content">
      <section>
      <h1>API Sandbox v2</h1>
      

      <div class="nav">
        <ul>
         <li><a class="btn btn-primary" href="/admin">Admin Interface</a></li>
         <li><a class="btn btn-alternative" href="/api/v2">API v2</a></li>
         <li><a class="btn btn-alternative" href="https://docs.ix-api.net">Schema Documentation</a></li>
        </ul>
      </div>
      <div>
<pre>

## Implementation

    Schema:  <b>{{ schema_version }}</b>
    Sandbox: <b>{{ sandbox_version }}</b>


## OAuth2 Endpoints:

    <b>/auth/oauth2/authorize</b>
    <b>/auth/oauth2/token</b>


## Test Suite Config:

    <b><a href="/static/test-suite-config.json">/static/test-suite-config.json</a></b>

</pre>
      </div>
      </section>
    </div>
    <div class="app-aside">

<div class="partners">
  <a href="https://de-cix.net/">
    <img src="{% static 'jea/assets/img/decix.jpeg' %}"
         class="logo-partner logo-decix"
         alt="DE-CIX logo"
         title="The logo of the DE-CIX Internet Exchange" />

  </a>
  <a href="https://ams-ix.net/">
    <img src="{% static 'jea/assets/img/amsix.png' %}"
         class="logo-partner logo-amsix"
         alt="AMS-IX logo"
         title="The logo of the AMS-IX Internet Exchange" />

  </a>
  <a href="https://linx.net/">
    <img src="{% static 'jea/assets/img/linx.png' %}"
         class="logo-partner logo-linx"
         alt="linx logo"
         title="The logo of the linx Internet Exchange" />

  </a>
</div>

    </div>
  </div>

</main>
{% endblock %}
