
body, html {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.logo-container {
  text-align: center;
}

.logo-container img {
    height: 600px;
}

.logo-partner {
  width: 130px;
}

.logo-amsix {
  width: 160px;
}

.logo-linx {
  padding-top: 15px;
  width: 210px;
}

.partners-container {
  display: flex;

  align-items: center;
  justify-content: center;
}

.partners-container img {
  display: flex;
}

main {
  padding: 15px;
}


main.app {
  display: flex;
  flex: 1 0;
  padding: 0px;
  margin: 0px;
  height: 100vh;
  overflow: auto;
  flex-direction: column;
  background: #ccc;
}

.app .container-center {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.app .container {
  display: flex;
  flex: 1;
}


.dialog {
  display: flex;
  flex-direction: column;
  background: #fff;
  background-repeat: no-repeat;
  background-image: url("../img/ix-api_lg_25.png");
  background-size: 150px;
  background-position: bottom -33px right -16px;
  border-radius: 4px;
  min-height: 400px;
  width: 800px
}


.dialog main {
  flex: 1 1;
  display: flex;
  flex-direction: column;
  color: #444;
  padding: 20px;
}

.app-content h1,
.dialog main h1 {
  padding: 0px;
  margin: 0px;
  margin-bottom: 1em;
  color: #1fa7c7;
  font-size: 1.8rem;
  font-family: monospace;
}

.dialog main h1 em {
  font-style: normal;
  color: #8aad38;
}

.dialog p {
  width: 60%;
}

.dialog label {
  font-family: monospace;
  font-weight: bold;
}

.dialog .hint {
  color: #555;
}

.dialog .error {
  color: #b74f4f;
  font-size: 0.9rem;
}

.dialog .actions {
  padding: 20px;
}

.dialog-login {
  width: 400px;
  min-height: 350px;
}

.dialog-login tr {
}

.dialog-login td {
  padding: 8px 0px;
}

.app input[type="text"],
.app input[type="password"] {
  border: 1px solid #ddd;
  padding: 4px 1px;
  background: #f0f0f0;
  display: block;
  width: 100%;
  padding: 10px;
  margin: 0px -20px;
  border-radius: 3px;
  outline: none;
}

.app input[type="text"]:focus-visible,
.app input[type="password"]:focus-visible {
  border: 1px solid #54cbb5;
}

.btn {
  font-family: monospace;
  font-size: 1rem;
  color: #fff;
  border: none;
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  background: #888;
  border-radius: 3px;
  box-shadow: 0px 1px 2px #222;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
}

.btn:active {
  box-shadow: 0px 1px 3px #999 inset;
}

.btn-primary {
  background: linear-gradient(180deg, #D15FCB, #8a5fd1);
  text-shadow: 0px -1px 1px #666;
}

.btn-alternative {
/*  background: linear-gradient(180deg, #D15FCB, #8a5fd1); */
  background: linear-gradient(180deg, #BEF002, #00859b);
  text-shadow: 0px -1px 1px #666;
}

.btn-cancel {
  background: linear-gradient(180deg, #778fb9, #8f8f8f);
  text-shadow: 0px -1px 1px #666;
}
.btn:visited {
  color: #fff;
}

.btn-login {
  width: 50%;
}

.app-content section {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.app-content .nav ul {
  display: flex;
  flex: 1;
  list-style: none;
  padding: 0px;
  margin: 0px; 
}

.app-content .nav ul li {
  margin-right: 20px;
}

.btn-logout {
  width: 25%;
}

main .inline {
  display: inline; 
}

.app .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  box-shadow: 0px 2px 4px #bbb;
}

.app .logo {
  margin: 5px 20px;
  width: 150px;
}

.app-content {
  display: flex;
  padding: 20px;
  flex: 1;
  flex-direction: row;
  background: #fff;
  background-repeat: no-repeat;
  background-image: url("../img/ix-api_lg_25.png");
  background-size: 550px;
  background-position: bottom -120px right -120px;
  width: 1024px
}

.app-aside {
  display: flex;
  flex-direction: column;
  flex: 0 1 25%;
}

.partners {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.partners a {
  width: 220px;
  height: 180px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: #fff; 
  border-radius: 5px;
}
