{% extends "jea/base.html" %}

{% block content %}
<main class="app content-center">

  <div class="container-center">
    <div class="dialog">
      <main>
        <h1>Welcome <em>{{account.name}}</em> to IX-API</h1>
        <p class="hint">
          You are authenticated as user <b>{{user.username}}</b>
          and can grant 3rd party applications access to your resources. 
        </p>
      </main>
      <div class="actions">
        <a class="btn btn-primary btn-logout" href="{% url "logout" %}">Logout</a>
      </div>
    </div>
  </div>

</main>

{% endblock %}

