{% extends "jea/base.html" %}

{% block content %}

<main class="app content-center">

  <div class="container-center">
    <form method="post" action="{% url "login" %}">
    {% csrf_token %}

    <div class="dialog dialog-login">
      <main>
        <h1>IX-API Login</h1>


{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% endif %}
{% endif %}

<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>

{% if form.errors %}
<p class="error">Your username and password didn't match. Please try again.</p>
{% endif %}

  <input type="hidden" name="next" value="{{ next }}">


      </main>
      <div class="actions">
        <input class="btn btn-primary btn-login" type="submit" value="Login">
      </div>
    </div>
    </form>
  </div>

</main>

{# Assumes you set up the password_reset view in your URLconf #}

{% endblock %}
